Source: huayra-icon-theme
Section: misc
Priority: optional
Maintainer: Mauro Lizaur <mauro@debian.org>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3

Package: huayra-icon-theme
Depends: ${misc:Depends}
Architecture: all
Description: Tema de iconos para Huayra GNU/Linux
 Este es el tema de iconos utilizado en Huayra GNU/Linux.

Package: huayra-icon-theme-alternativo
Depends: ${misc:Depends}
Architecture: all
Description: Tema de iconos alternativo para Huayra GNU/Linux
 Este es el tema de iconos alternativo utilizado en Huayra GNU/Linux.
